@{
    ViewData["Title"] = "Home Page";
}
<form>
<fieldset>
    {
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>


    <div class="form-check">
        <input class="form-check-input" type="radio" asp-for="SelectedCrust" value="@item">
        <label class="form-check-label" for="@item">@item</label>
    </div>
    }
</fieldset>

<fieldset>
    <legend>Sizes</legend>

    @Html.ValidationMessageFor(m => m.SelectedSize)
    @foreach (var item in Model.Sizes)
    {
        <div class="form-check">
            <input class="form-check-input" type="radio" asp-for="SelectedSize" value="@item">
            <label class="form-check-label" for="@item">@item</label>
        </div>
    }
</fieldset>

<fieldset>
    <legend>Toppings</legend>

        @Html.ValidationMessageFor(m => m.SelectedToppings)
        @foreach (var item in ModelExpressionProvider.Toppings)
        {
            <div class="form-check">
            <label class="form-check-input" type="checkbox" id="@item" name="selectedtoppings" value="@item"></label>
            <label class="form-check-label" for=@InvalidTimeZoneException">@item</label>
            </div>
        }
    </fieldset>

<button type="submit">make pizza</button>
</form>
